@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=My+Soul&display=swap');
@import url(./style_Index/style_Index_screenMovil.css) only screen and (max-width:481px);
@import url(./style_Index/style_Index_screenTablet.css) screen and (min-width:481px) and (max-width:769px);
@import url(./style_Index/style_Index_screenOrdenador.css) screen and (min-width:769px);

@font-face {
    font-family: 'Amazon Ember Display Medium';
    src: url(../AmazonEmber_Font/Amazon\ Ember\ Display\ Medium\ Italic.ttf);
}

@font-face {
    font-family: 'Amazon Ember Cd RC Light';
    src: url(../AmazonEmber_Font/Amazon\ Ember\ Cd\ RC\ Light.ttf);
}

@font-face {
    font-family: 'Amazon Ember Display Light';
    src: url(../AmazonEmber_Font/Amazon\ Ember\ Display\ Light.ttf);
}

*{
    /* border:1px solid black; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Amazon Ember Display Light', Arial,Helvetica,sans-serif;
}


/* https://www.w3schools.com/cssref/css3_pr_transform.asp
https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_transform&preval=matrix(0.866,0.7,-0.8,0.866,0,0) */