
/* --- HEADER --- */

header{
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 17% 25% 58%;
    grid-template-areas: 'navDesplegable imagenLogo navSocios';
    background-color: rgb(49, 83, 99);
}

header>a{
    grid-area: imagenLogo;
    width: 82%;
    margin-top: -12%;
    margin-left: -8%;
}

header>a>img{
    width: 100%;
}

    /* --- HEADER: NAVBAR --- */
    #despeglable{
        grid-area: navDesplegable;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        position: relative;
        display: inline-block;
    }

    #navbarIcon{
        width: 100%;
    }

    #navbarIcon:before {
        content: url(../../images/navbarIcon.png);
    }

    #desplegable:hover #navbar{
        display: block;
    }

    #navbar{
        width: 40%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color:rgb(253, 245, 236);
        background-color:rgba(49, 83, 99);
        font-weight: 700;
        margin-top: 2%;
        display: none;
        position: absolute;
        left: 0;
    }

    #navbar>li{
        height: 60%;
        font-size: 1rem;
        padding: 2vw;
    }

    #navbar>li>a{
        color:rgb(253, 245, 236);
        text-decoration: none;
    }
    
    #navbar>li>a:hover{
        font-weight: bold;
    }

    /* --- HEADER: NAVBAR_SOCIOS --- */
    #navbar_socios{
        grid-area: navSocios;
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        color:rgb(253, 245, 236);
        font-weight: 900;
    }

    #navbar_socios>li{
        width: 100%;
        height: 55%;
        font-size: 0.67rem;
        padding: 0.5vw;
        border-radius: 20vw;
        border: 0.1vw outset silver;
        background-color: #e4ebf3;
        color:black;
        text-align: center;
    }

    #navbar_socios>li:last-child{
        display: flex;
        flex-flow: row nowrap;
        color:rgb(253, 245, 236);
        border: 0.1vw solid rgb(49, 83, 99);
        background-color: rgb(49, 83, 99);
    }

    #cesta{
        width: 33%;
    }


/* --- SECTION --- */

#contacto{
    width: 86.2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.7%;
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Amazon Ember Display Medium', Arial,Helvetica,sans-serif;
}

hr{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

    /* --- SECTION: FORMULARIO --- */
    #formulario{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-around;
        padding: 5% 3% 5%;    
    }

    #formulario>*{
        display: block;
    }

    #formulario>p{
        padding-bottom: 2%;
    }

    .elementoFormulario{
        display: block;
        margin: 2% 0 2%;
    }

    .elementoFormulario>input{
        padding: 1%;
    }

    .elementoFormulario:nth-child(2)>input{
        width: 100%;
    }

    .elementoFormulario>p{
        font-weight: 600;
        padding-bottom: 1%;
    }

    .asterisco{
        font-weight: 600;
        color:rgb(173, 1, 1);
    }

    #elementoFormularioInline>input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }
    
    form>div:nth-child(4){
        font-weight: 600;
        padding-bottom: 4%;
    }

    .botonForm{
        display: inline;
        padding-right: 3%;
    }

    .botonForm>input{
        padding: 1%;

    }

    /* --- SECTION: MAPA --- */
    #mapa{
        padding: 5% 3% 5%;
    }

    iframe{
        width:100%;
        padding-top: 2%;
    }

/* --- FOOTER --- */
footer{
    background-color: rgb(49, 83, 99);
    padding: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

footer>#img_footer{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

footer>p{
    width: 99%;
    text-align: center;
    font-family: Georgia, Cochin, Cambria, Times, 'Times New Roman', serif;
    font-style: oblique;
    color:rgb(253, 245, 236);
    margin-top: 1%;
    font-size: 0.8rem;
}









