
/* --- HEADER --- */

header{
    width: 100%;
    padding: 4%;
    display: grid;
    grid-template-columns: 17% 25% 58%;
    grid-template-areas: 'navDesplegable imagenLogo navSocios';
    background-color: rgb(49, 83, 99);
}

header>a{
    grid-area: imagenLogo;
    width: 82%;
    margin-top: -12%;
    margin-left: -8%;
}

header>a>img{
    width: 100%;
}

    /* --- HEADER: NAVBAR --- */
    #despeglable{
        grid-area: navDesplegable;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        position: relative;
        display: inline-block;
    }

    #navbarIcon{
        width: 100%;
    }

    #navbarIcon:before {
        content: url(../../images/navbarIcon.png);
    }

    #desplegable:hover #navbar{
        display: block;
    }

    #navbar{
        width: 40%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color:rgb(253, 245, 236);
        background-color:rgba(49, 83, 99);
        font-weight: 700;
        margin-top: 2%;
        display: none;
        position: absolute;
        left: 0;
    }

    #navbar>li{
        height: 60%;
        font-size: 1rem;
        padding: 2vw;
    }

    #navbar>li>a{
        color:rgb(253, 245, 236);
        text-decoration: none;
    }
    
    #navbar>li>a:hover{
        font-weight: bold;
    }

    /* --- HEADER: NAVBAR_SOCIOS --- */
    #navbar_socios{
        grid-area: navSocios;
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        color:rgb(253, 245, 236);
        font-weight: 900;
    }

    #navbar_socios>li{
        width: 100%;
        height: 55%;
        font-size: 0.67rem;
        padding: 0.5vw;
        border-radius: 20vw;
        border: 0.1vw outset silver;
        background-color: #e4ebf3;
        color:black;
        text-align: center;
    }

    #navbar_socios>li:last-child{
        display: flex;
        flex-flow: row nowrap;
        color:rgb(253, 245, 236);
        border: 0.1vw solid rgb(49, 83, 99);
        background-color: rgb(49, 83, 99);
    }

    #cesta{
        width: 33%;
        height: 85%;
    }


/* --- BUSCADOR --- */
#contenedor_buscador{
    padding: 1.3%;
    background-color: rgb(49, 83, 99);
    text-align: center;

}

#barra_buscador{
    height: 40%;
    width: 60%;
    border: 0.1vw solid rgb(49, 83, 99);
    font-size: small;
}

#boton{
    width: 12%;
    height: 150%;
    border: 0.1vw solid rgb(187, 15, 55);
    font-size: 0.7rem;
    font-weight: 600;
    background-color: rgb(187, 15, 55);
}

/* --- SECTION --- */

section{
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 1%;
}

hr{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#list_bestsellers{
    list-style-type: none;
    width: 88%;
    display: flex;
    flex-direction: column;
    align-self: center;  
    justify-content: space-around;     
}

.bestsellers_book{
    width: 96%;
    font-size: 0.5rem;
    font-family: 'Amazon Ember Cd RC Light', Arial,Helvetica,sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas: 'bestsellersImg'
                         'bestsellersText'
                         'bestsellersDetails';
    padding: 4% 2% 4%;
    border-bottom: 0.06rem solid #d0d6dd;
}

.bestsellers_book:first-of-type{
    padding: 0% 2% 4%;
}

.bestsellers_book>img{
    grid-area: bestsellersImg;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.bestsellers_text{
    grid-area: bestsellersText;
    width: 100%;
    font-size: 1rem;
    line-height: 130%;
    text-align: justify;
    padding: 0 1% 0;
    overflow: hidden;
}

span{
    display: block;
    line-height: 160%;
}

.titulo{
    font-size: 1.6rem;
    color: rgb(187, 15, 55);
    font-weight: bold;
    text-align: center;
}

.autor{
    font-size: 1.1rem;
    font-weight: 600;
}

.editorial{
    color: #757779;
    padding-top: 3%;
    font-size: 1rem;
}

.bestsellers_details{
    grid-area: bestsellersDetails;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    line-height: 180%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}

.precioDescuento{
    font-weight: bold;
}

.precioDescuento>span{
    display: inline;
    text-decoration: line-through;
    padding-left: 6%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.592);
}

.bestsellers_book:nth-child(3) .estrellas{
    color: rgba(0, 0, 0, 0.592);
    font-size: 0.3rem;
}

.descuento{
    font-size: 1rem;
    width: 50%;
    align-self: center;
    background-color: rgb(187, 15, 55);
    color: rgb(253, 245, 236);
    font-weight: 400;
    border-radius: 0.25rem;
}

    /* --- PAGINATION --- */
    section ul{
        display: flex;
        flex-flow: row wrap;
        width: 90%;
        margin-left: 7%;
        margin-top: 4%;
        list-style: none;
        text-align: center;
        color: #333;
    }

    section li{
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 0.9rem;
        border-top: 0.06rem outset #dee2e6;
        border-bottom: 0.06rem outset #dee2e6;
        border-left: 0.06rem outset #dee2e6;
        padding: 0.8%;
    }

    section li:last-child{
        border-right: 0.06rem outset #dee2e6;
        border-radius: 0 0.25rem 0.25rem 0;
    }

    section li:first-child{
        border-radius: 0.25rem 0 0 0.25rem;
    }

    section li:nth-child(2){
        background-color: #333;
        color:rgb(253, 245, 236);
    }

    /* --- FLECHAS VOLVER A INICIO --- */
    section>a:last-child{
        display: block;
        width: 2.5%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }

    section>a:last-child>img{
        width: 100%;
    }


/* --- FOOTER --- */
footer{
    background-color: rgb(49, 83, 99);
    padding: 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

footer>#img_footer{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

footer>p{
    width: 99%;
    text-align: center;
    font-family: Georgia, Cochin, Cambria, Times, 'Times New Roman', serif;
    font-style: oblique;
    color:rgb(253, 245, 236);
    margin-top: 1%;
    font-size: 0.8rem;
}